#
#  Various temp files
#

# Editor backup files
*~
*.bak
# Exclude files with '#' in their names anywhere in the repository
**/*#*

# olint cache
.cache.olint

# per project olint config
.olint.conf

# defines where deploy will install olint
.destination

base.py
nested_abort.sh
xterm.js
tmp/
