#
#  Various temp files
#

# Editor backup files
*~
*.bak
# Exclude files with '#' in their names anywhere in the repository
**/*#*

__pycache__/

.venv/

# Not hiding I use claude in-it-self, but since these are shared
# between nodes and projects as softlinks, its kinda pointless
# to have them in the repo as dead references
CLAUDE.md
.claude/base.md

# defines where deploy will install olint
.destination

# olint cache
.cache.olint

.vscode/

files_to_check/
